*{
	margin:0px;
	padding:0px;
	border-radius: 0px;
	box-sizing: border-box;
	font-size: 110%;
}

.frame{
	display: inline-block;
	justify-content: center;
	align-items: center;
	height: 450px;
	width: 310px;
	margin: 100px 350px;
	background-color: black;
}

.calculator-title{
	font-size:30px;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	background: #fff;
	width: 300px;
	padding: 10px 10px;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 20px;
	color: #36b89c;
}

.mainCalc{
	height: 300px;
	display: flexbox;
	justify-content: center;
	align-items: center;
	margin:0px;
	padding:0px;
	box-sizing: border-box;
}

input[type='button']{
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	width: 75px;
	background: #91dde7;
	border: 1px solid #222;
	border-radius: 8px;
	padding: 10px 20px;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
}

input[type='button']:active{
	border-radius: 8px;
	background: #ccc;
}

#root{
	text-align:center;
}

.screen-row input{
    width: 300px;
	background: #ddd;
	border: 0px;
	color: #222;
	padding: 10px;
	text-align: right;
}
