*{
	margin:0px;
	padding:0px;
	border-radius: 0px;
	box-sizing: border-box;
	font-size: 110%;
}

.total{
	display:flex;
	height: 600px;
	padding: 40px 40px;
}

.frame{
	height: 550px;
	width: 400px;
	padding:0px 0px 60px 0px;
	margin-left: 150px;
	background-color: #222;
}


.calculator-title{
	font-size:30px;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	background: #fff;
	width: 300px;
	padding: 10px 10px;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 20px;
	color: #36b89c;
}

.mainCalc{
	height: 500px;
	display: flexbox;
	justify-content: center;
	align-items: center;
	margin:10px;
	padding:0px 40px 60px 40px;
	box-sizing: border-box;
}

input[type='button']{
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	width: 75px;
	background: #91dde7;
	border: 1px solid #222;
	border-radius: 8px;
	padding: 10px 20px;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
}

input[type='button']:active{
	border-radius: 8px;
	background: #ccc;
}

.button{
    font-family: "Trebuchet MS", Helvetica, sans-serif;
	width: 75px;
	background: #b4cbeb;
	border: 1px solid #222;
	border-radius: 8px;
	padding: 10px 20px;
    color: black;
    text-align: center;
    text-decoration: none;
	font-size: 20px;
}

.button-m{
    font-family: "Trebuchet MS", Helvetica, sans-serif;
	width: 75px;
	background: #b4cbeb;
	border: 1px solid #222;
	border-radius: 8px;
	padding: 10px 20px;
    color: black;
    text-align: center;
    text-decoration: none;
	font-size: 20px;
}

.memory{
	color: black;
	justify-items: left;
	width: 675px;
	font-size:30px;
	margin-left: 40px;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

#root{
	text-align:center;
}

.screen-row input{
    width: 300px;
	background: #ddd;
	border: 0px;
	color: #222;
	padding: 10px;
	text-align: right;
}